.shake {
    animation: shake 0.8s infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    0% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-8px);} 
    20%, 40%, 60%, 80%,100% {transform: translateX(8px);} 
 } 


 #board{
    width:500px;
    height:500px;
    margin:auto;
    border:4px solid black;
    border-radius: 5px;
    /* padding:.2rem; */
 }

 .row{
    display: flex;
 }

 .box{
    border:1px solid gainsboro;
 }

 .score__container{
    width:100px;
    margin:auto;
    background:red;
    margin-bottom:1rem;
    text-align: center;
    padding:.5rem 1rem;
    border-radius:5px;
    color:white;
 }

 @media screen and (max-width:425px) {
     #board{
        width:400px;
        height:400px;
     }
 }