*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --ad:3s
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  width: 30em;
  height: fit-content;
}

div.progress__wrapper {
  width: 100%;
  height: 3em;
    border:1px solid black;
    border-radius: 4px;
}
div.progress__bar {
  width: 0;
  height: 3em;

  background : linear-gradient(90deg, rgb(123, 91, 199) 0%, rgb(100, 56, 234) 100%);
 
}
div.progress__bar.animate {
  animation-name: progress;
  animation-duration:var(--ad);
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
@keyframes progress {
  0% { width: 0;}
  100% { width: 100%; }
}


.btn{
  background-color: #f8fafc;
  border-radius: 3px;

  width: fit-content;
  margin-top: 1em;
  padding: 0.4em 0.8em;

  font-weight: 500;
  transition: 0.3s;

  user-select: none;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

form{
  padding: 0.2rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

#seconds{
  padding: 0.4rem 1rem;
}